/* Button styles */
.button {
    background-color: var(--color-charcoal);
    border: 0.2rem solid var(--color-charcoal);
    border-radius: 0.4rem;
    color: var(--color-white);
    display: inline-flex;
    gap: 0.3rem;
    justify-content: center;
    line-height: 1.38;
    padding: 1.4rem 2.5rem;
    text-decoration: none;
    transition: var(--transition-color);
    width: fit-content;

    &:hover,
    &:focus-visible {
        background-color: var(--color-bright-blue);
        border-color: var(--color-bright-blue);
    }

    &:focus-visible {
        outline-color: var(--color-charcoal);
    }
}

.button--secondary {
    background-color: var(--color-white);
    border-color: var(--color-charcoal);
    color: var(--color-charcoal);

    &:hover,
    &:focus-visible {
        background-color: var(--color-line-grey);
        border-color: var(--color-charcoal);
    }
}

.button--external {
    &::after {
        content: url('../images/arrow--external-link.svg');
    }
}

/* On dark background */
.section--color-dark {
    .button {
        background-color: var(--color-white);
        border-color: var(--color-white);
        color: var(--color-charcoal);

        &:hover,
        &:focus-visible  {
            background-color: var(--color-line-grey);
            border-color: var(--color-line-grey);
        }

        &:focus-visible {
            outline-color: var(--color-white);
        }
    }

    .button--secondary {
        background-color: transparent;
        border-color: var(--color-white);
        color: var(--color-white);

        &:hover,
        &:focus-visible {
            background-color: var(--color-white);
            border-color: var(--color-white);
            color: var(--color-charcoal);
        }
    }
}
