/**
 * Color variables
 */
:root {
    --color-black: #000000;
    --color-black-0: #00000000;
    --color-black-50: #00000050;
    --color-bright-blue: #005ae1;
    --color-charcoal: #222222;
    --color-mid-grey: #757575;
    --color-grey: #5f5f5f;
    --color-line-grey: #dadada;
    --color-pale-grey: #f4f4f4;
    --color-table-grey: #d4d4d4;
    --color-white: #ffffff;
    --color-white-70: #bdbdbd;
    --color-error-dark: #cf0000;
    --color-error-light: #f9d0d0;
    --color-good-dark: #8fbe00;
    --color-good-light: #ecf9d0;
    --color-warning-dark: #e8c805;
    --color-warning-light: #fef4ba;
}
