/* Color variables */
:root {
    --color-black: #000000;
    --color-black-0: #00000000;
    --color-black-50: #00000050;
    --color-bright-blue: #005AE1;
    --color-charcoal: #222222;
    --color-mid-grey: #757575;
    --color-grey: #5F5F5F;
    --color-line-grey: #DADADA;
    --color-pale-grey: #F4F4F4;
    --color-white: #FFFFFF;
    --color-white-70: #bdbdbd;
}
