/* Container styles */
/* The container class enforces max-width and should wrap all inline display elements */
.container {
    max-width: 123rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

@media (min-width: 750px)  {
    .container {
        padding: 0 3rem;
    }
}

.container--header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.container--page {
    margin: 4.4rem auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 750px)  {
    .container--page {
        margin: 5.8rem auto;
    }
}

@media (min-width: 992px) {
    .container--page {
        margin: 7rem auto;
    }
}

@media (min-width: 750px) {
    .container--narrow {
        max-width: 76.8rem;
    }
}

@media (min-width: 992px) {
    .container--narrow {
        max-width: 83rem;
    }
}
