/* Footer */
.footer {
    padding: 5rem 0;
    background-color: var(--color-charcoal);
    color: var(--color-white);
    text-align: center;
}

/* Copyright */
.footer-menu__item.copyright {
    margin-bottom: 3rem;
}

/* Menu */
.nav--footer {
    width: 100%;
    margin-bottom: 4rem;
}

.footer-menu__item {
    margin-bottom: 2rem;
}

/* Logo */
.footer__logo {
    display: flex;
    align-items: center;
    width: 17.6rem;
    margin: auto;
}

@media (min-width: 750px)  {
    .footer-menu__item.copyright {
        margin: 0 3rem 0;
        text-wrap: nowrap;
    }

    .footer-menu {
        display: flex;
        justify-content: center;
    }
    
    .footer-menu__item {
        margin-right: 2rem;
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .container--footer {
        display: flex;
    }

    .nav--footer {
        width: auto;
    }

    .footer__logo {
        width: auto;
        margin-right: 0;
    }
}
