/**
 * Form styles
 *
 * Includes both generic form styles and additional form styles for the User Defined Form module
 */

form,
form.userform {
    --form-max-width: 100%;

    max-width: var(--form-max-width);

    @media (min-width: 750px) {
      --form-max-width: 50rem;
    }

    fieldset {
        border: 0;
    }

    .field {
        margin: 2.5rem 0;
    }

    label.left,
    legend.left,
    .form-label {
        display: inline-block;
        font-weight: var(--font-weight-semibold);
        margin-bottom: 0.6rem;
    }

    input + label.form-label {
        font-weight: var(--font-weight-base);
        margin-bottom: 0;
        margin-left: 0.6rem;
    }

    label.right,
    .right-title {
        font-size: var(--font-size-small);
        margin-top: 0.4rem;
    }

    input.text,
    textarea,
    select {
        background-color: var(--color-white);
        border: 0.1rem solid var(--color-line-grey);
        border-radius: 0.4rem;
        padding: 1rem 1.6rem;
        max-width: var(--form-max-width);
        width: 100%;
    }

    textarea {
        resize: vertical;
    }

    /* Disabled fields */
    input[disabled],
    textarea[disabled],
    select[disabled] {
        border: 0.1rem solid var(--color-line-grey);
        background-color: var(--color-pale-grey);
    }

    /* Invalid fields */
    input.error,
    textarea.error,
    select.error {
        border-color: var(--color-error-dark);
    }

    /* Pseudo element adds an asterisk to a required fields label */
    input[required] ~ label.left:after,
    input[required] ~ legend.left:after,
    /* User Defined Form module uses .requiredField class */
    .requiredField label.left:after,
    .requiredField legend.left:after {
        color: var(--color-error-dark);
        content: "*";
        font-weight: var(--font-weight-base);
        padding-left: 0.4rem;
    }

    /* Messages */
    .message {
        display: block;
        margin: 0.6rem 0 0;
        max-width: var(--form-max-width);
    }

    .message,
    .error-container {
        background-color: var(--color-warning-light);
        border: 0.1rem solid var(--color-warning-dark);
        border-radius: 0.4rem;
        padding: 1rem 1.6rem;

        &.good {
            background-color: var(--color-good-light);
            border-color: var(--color-good-dark);
        }

        &.bad,
        &.error,
        &.error-container,
        &.required {
            background-color: var(--color-error-light);
            border-color: var(--color-error-dark);
        }
    }

    /* User Defined Forms module heading field */
    .FormHeading {
        margin: 2rem 0;
    }
}

