/* Header */
header {
    padding: 1.8rem 0;
    background-color: #222222;
    color: white;
}

.header__container {
    display: flex;
    height: 3.8rem;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

/* Menu */
.menu {
    display: none; /* To be replaced with mobile styles */
}

@media (min-width: 992px) {
    .menu {
        display: inline-block;
    }
    
    .menu ul {
        margin: 0;
        font-size: 0;
    }
    
    .menu .menu__item {
        display: inline-block;
        margin-left: 2.8rem;
        padding: 1rem;
        font-size: 1.6rem;
    }
    
    .menu .menu__item a {
        color: white;
        text-decoration: none;
    }
    
    .menu__item--has-subnav::after {
        content: url('../images/chevron--down--white.svg');
        height: 1.1rem;
        width: 1.1rem;
        display: inline-block;
    }
}

/* CTA button */
.header__button--cta {
    display: none;
}

@media (min-width: 992px) {
    .header__button--cta {
        display: block;
        border-radius: .4rem;
        border: .2rem white solid;
        padding: .8rem 1.8rem;
        background-color: transparent;
        color: white;
        margin: auto 0 auto auto;
        line-height: 2.2rem;
    }    
}

.header__button--cta::after {
    content: url('../images/arrow--external-link.svg');
    height: 1.1rem;
    width: 1.1rem;
}

/* Mobile menu button */
.header__button--menu {
    margin: auto -1rem auto auto;
    border: 0;
    padding: 1rem;
    background: transparent;
}

@media (min-width: 992px) {
    .header__button--menu {
        display: none;
    }
}

@media (min-width: 992px) {
    .header__button--menu {
        display: none;
    }
}

.hamburger {
    display: grid;
    gap: .6rem;
    width: 2.4rem;
    margin: auto;
}

.hamburger__inner {
    background-color: white;
    height: .2rem;
}

/* General */
button {
    cursor: pointer;
}
