/**
 * Page styles
 */

.page {
    @media (min-width: 992px)  {
        display: flex;
        justify-content: space-between;
    }
}

.page__content {
    display: grid;
    gap: 2rem;
    width: 100%;

    @media (min-width: 992px) {
        width: 76rem;
    }
}

.page-menu {
    margin-top: 7.3rem;
    width: 100%;

    @media (min-width: 992px) {
        margin-top: 0;
        width: 27rem;
    }
}

.page-menu__heading {
    display: block;
    margin-bottom: 1.5rem;
}

.page-menu__heading-link {
    text-decoration: none;
}

.page-menu__list {
    border-top: 0.1rem solid var(--color-line-grey);
    border-bottom: 0.1rem solid var(--color-line-grey);
    padding: 2.5rem 0;
    display: grid;
    font-size: 1.4rem;
    gap: 1.7rem;
}

.page-menu__list-item--current {
    font-weight: var(--font-weight-bold);
}
