/**
 * Overrides styling for Siverstripe Navigator
 */
div#SilverStripeNavigator {
    border-top: 0;
}

div#SilverStripeNavigatorMessage {
    background: #000A;
    pointer-events: none;
    top: 10rem;
    /* One less than mobile nav */
    z-index: 29;
}
