/* Set transition variables */
:root {
    --transition-default: all .3s ease-in;
    --transition-color: background-color .3s ease-in, border-color .3s ease-in, color .3s ease-in;
    --transition-svg: fill .3s ease-in;
}
