/**
 * WYSIWYG styles
 *
 * Typography related styles for HTML editor field content
 */
.typography {
    align-items: start;
    display: grid;
    gap: 2.5rem;

    @media (min-width: 992px) {
        font-size: var(--font-size-large);
    }

    code {
        background-color: var(--color-pale-grey);
        border-radius: 0.4rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        font-weight: var(--font-weight-medium);
        padding: 0.1rem 0.4rem;
    }

    * + h3 {
        padding-top: 1rem;
    }

    hr {
        border-bottom: 0.1rem solid var(--color-line-grey);
    }

    ol {
        list-style: decimal;
    }

    ul {
        list-style: disc;
    }

    ol,
    ul {
        display: grid;
        gap: 0.5rem;
        margin-left: 2rem;

        ol,
        ul {
            margin-top: 0.5rem;
        }
    }

    table {
        tr:nth-child(even) td {
            background: var(--color-pale-grey);
        }

        td {
            padding: 2rem 1rem;

            &:first-child {
                padding-left: 2rem;
            }

            &:last-child {
                padding-right: 2rem;
            }
        }
    }

    /* Captions */
    .caption {
        &.leftAlone,
        &.left {
            text-align: left;
        }

        &.rightAlone,
        &.right {
            text-align: right;
        }

        &.center {
            text-align: center;
        }
    }

    /* Images */
    img {
        &.left {
            float: left;
            margin: 0 2.5rem 2.5rem 0;
        }

        &.right {
            float: right;
            margin: 0 0 2.5rem 2.5rem;
            clear: none;
        }

        &.center {
            margin: 2.5rem auto;
        }

        &.rightAlone {
            float: right;
            margin: 2.5rem 0;
            clear: both;
        }

        &.leftAlone {
            margin: 2.5rem 0;
        }

        + .caption {
            position: relative;
            top: -1.5rem;
        }
    }

    /* Image with captions */
    .captionImage {
        &.left {
            float: left;
            margin: 2.5rem 2.5rem 0 0;

            + p {
                clear: none;
            }
        }

        &.right {
            float: right;
            margin: 0 0 2.5rem 2.5rem;

            + p {
                clear: none;
            }
        }

        &.center {
            margin: 0 auto;
        }

        &.rightAlone {
            float: right;
        }
    }
}
