a.skip-links {
  @include sr-only();
  @include sr-only-focusable();

  z-index: -999;

  &:focus,
  &:active {
    align-items: center;
    display: flex;
    height: 6rem;
    justify-content: center;
    left: 0;
    overflow: auto;
    padding: 0 1.5rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    outline-offset: 0;

    @include media-breakpoint-up(sm) {
      padding: 0 2rem;
    }

    @include media-breakpoint-up(lg) {
      height: 8rem;
      padding: 0 3rem;
    }
  }
}
