@use "sass:map";
@use "sass:math";

/**
 * Media queries
 */
@mixin media-breakpoint-up($name) {
  $min: map.get($grid-breakpoints, $name); // stylelint-disable-line

  @media (min-width: $min) {
    @content;
  }
}

/**
 * Only display content to screen readers
*/
@mixin sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 0.1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0.1rem;
}

/**
 * Used in conjunction with `.sr-only` to only display content when it is focused.
 */
@mixin sr-only-focusable() {
  &:active,
  &:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static;
    white-space: normal;
    width: auto;
  }
}
